@import "../variables";

input[type="radio"]:checked + label {
  background-color: $primary;
  color: $background;
  cursor: pointer;
}

input[name="moveTime"],
input[name="gameTimer"] {
  height: 40px;
  width: 60px !important;
  cursor: pointer;
}

input[name="moveTime"] + label,
input[name="gameTimer"] + label {
  position: relative;
  top: -31px;
  left: 20px !important;
  width: 20px;
  cursor: pointer;
}

input[type="radio"] + label {
  position: relative;
  top: -31px;
  left: 10px;
  cursor: pointer;
}

.overlay-div {
  color: $compliment;
  background-color: rgba(150, 142, 142, 0.521);
  z-index: 1000;
  top: 0%;
  height: 100%;
}

.game-params {
  width: 315px;
  border-radius: 10px;
  left: 35%;
  top: 5%;
}

.close-button {
  position: absolute;
  top: 4%;
}

.form-check {
  padding-left: 1rem;
}

.form-check-input[type="radio"] {
  height: 40px;
  width: 90px;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
}

.radio-buttons {
  width: 90px;
}

.form-check-input:checked {
  background-color: $primary;
  color: $background;
}

.form-check-label:checked {
  color: $background;
}

.time {
  margin-left: -30px;
}

.form-button,
.form-button:hover,
.form-button:focus {
  left: 20%;
  background-color: $primary;
}

.form-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(190, 52, 45/10%);
}

@media screen and (max-width: 550px) {
  .game-params {
    left: 20%;
  }
}

@media screen and (max-width: 435px) {
  .game-params {
    left: 1%;
  }
  .overlay-div {
    height: 1vh;
  }
}
