@import '../variables';

.active {
  background-color: rgba($color: $background, $alpha: 0.5);
  border-radius: 10px;
}

.bg-style {
  background-color: $primary;
}

.nav-link, .navbar-brand {
  color: $background!important;
  padding-left: 10px!important;
}
