@import "../../../styles/variables";

body {
  background-color: $background;
}

.input-form {
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .form-button,
  .form-button:hover,
  .form-button:focus {
    background-color: $primary;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .form-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(190, 52, 45/10%);
  }
}

@media screen and (max-width: 980px) {
  .input-form {
    width: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .input-form {
    width: 12rem;
  }
}
