@import "../../variables";

.timer {
  // left: 20%;
  float: right;
  width: 100px;
  color: $compliment;
}

// @media screen and (max-width: 600px) {
//   .timer {
//     display: none !important;
//   }
// }
