@import "../../../variables";

.hit-piece {
  left: 8%;
  padding: 0;
  height: 80px;
  width: 500px;
  overflow-x: scroll;
}

.items {
  background-color: rgba($color: $background, $alpha: 0);
  padding: 0;
  padding-top: 10px;
  border: 0;
  width: 35px;
}

.list-group {
  height: 72px;
}

$posLeft: 0;

@for $var from 1 to 16 {
  .hit-piece li:nth-child(#{$var}) {
    position: relative;
    left: $posLeft * 2%;
  }
  $posLeft: $posLeft - 1;
}

.hit-piece li:hover {
  cursor: pointer;
  left: -10px;
  z-index: 10;
  transition-delay: 1s;
}

.hit-piece::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 680px) {
  .hit-piece li:hover {
    left: 0px;
  }

  .hit-piece {
    width: 340px;
  }
}

@media screen and (max-width: 485px) {
  .hit-piece {
    width: 250px;
  }
}
