@import '../variables';

.active {
  background-color: $primary!important;
  color: $background!important;
}

.inactive {
  background-color: $background!important;
  color: $compliment!important;
}

.tabs {
  padding-top: 16px;
  height: 60px;
}
