@import "../../variables";

img {
  width: $screen-xl;
  height: $screen-xl;
}

.piece {
  width: $screen-xl;
  height: $screen-xl;
}

.piece-svg {
  position: relative;
  left: 13px;
  bottom: 45px;
  width: $piece-svg-xl;
  height: $piece-svg-xl;
}

.piece-name {
  visibility: hidden;
}

.piece:hover .piece-name {
  visibility: visible;
  background-color: $compliment;
  color: $background;
  padding: 5px;
  position: relative;
  top: -26px;
  z-index: 1;
  transition-delay: 1s;
}

.piece:hover {
  border-radius: 50%;
  border: 3px dashed #e99600;
}

@media screen and (max-width: 992px) {
  img {
    width: $screen-sm;
    height: $screen-sm;
  }

  .piece {
    width: $screen-sm;
    height: $screen-sm;
    margin-left: 2px;
  }

  .piece-svg {
    left: 10px;
    bottom: 38px;
    width: $piece-svg-sm;
    height: $piece-svg-sm;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: $screen-xsm;
    height: $screen-xsm;
  }

  .piece {
    width: $screen-xsm;
    height: $screen-xsm;
    margin-left: 2px;
  }

  .piece-svg {
    left: 8px;
    bottom: 34px;
    width: $piece-svg-xsm;
    height: $piece-svg-xsm;
  }
}
