@import "../../variables";

.game {
  color: $compliment;

  .game-card {
    background-color: #b8a19b;
    color: #584543;
    border-radius: 10px;
  }

  .game-heading {
    color: $primary;
  }

  .game-link {
    background-color: #b8a19b;
    border: none;
    color: rgba(0, 60, 255, 0.671);
    text-decoration: underline;
    float: right;
  }

  .profile-link {
    color: #584543;
    &:hover {
      color: rgba($color: $compliment, $alpha: 0.7);
    }
  }
}

@media screen and (max-width: 400px) {
  .game {
    top: 50px;
  }
}
