.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
  position: relative;
  left: 285px;
}

.toast {
  z-index: 1000;
}
