@import "../variables";

body {
  background-color: $primary;
}

.profile-avatar {
  border-radius: 50%;
}

.user-detail {
  color: $compliment;
  position: relative;
  bottom: 10px;

  .user-fullname {
    font-size: 2rem;
  }

  .edit-button,
  .edit-button:hover,
  .edit-button:focus {
    color: $compliment !important;
  }
}

.user-stats {
  color: $compliment;
  width: 500px;
  transform: translate(-50%, 0);

  .score {
    background-color: rgba($color: gray, $alpha: 0.8);
    width: 80px;
    height: 70px;
    border-radius: 23% !important;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transform: translate(-50%, 0);
}

@media screen and (max-width: 650px) {
  .user-stats {
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
  }
}
