@import '../variables';

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-profile {
  display: inline-flex;
}

.user-detail {
  position: relative;
  color: $compliment;
  top: 50px;
  left: 30px
}

.user-fullname {
  height: 20px;
  font-size: 2rem;
}

.user-username {
  height: 20px;
}

.user-stats{
  color: $compliment;
  position: relative;
  left: 18%;
  flex-direction: row;
}

.score {
  background-color: rgba($color: gray, $alpha: 0.8);
  width: 80px;
  height: 70px;
  border-radius: 23%!important;
}

@media screen and (max-width: 850px) {
  .user-stats{
    flex-direction: column; 
    left: 40%;
    width: 100px!important;
  }
}

@media screen and (max-width: 500px) {
  .user-profile {
    display: block;
  }
  .profile-avatar { 
    position: relative;
    left: 9px;
    top: 20px;
  }  
  .user-fullname {
    font-size: 1.6rem;
  }
  .user-username {
    text-align: start;
    height: 20px;
  }
  .user-stats{
    top: 10px;
  }
}
