@import '../../variables';

.board {
  background-color: $background;
  position: relative;
  left: 15%;
}

tr {
  height: $screen-xl;
}

td {
  height: $screen-xl;
  width: $screen-xl;
}

.animate {
  zoom: 125%;
}

@media screen and (max-width : 1250px ) {
  .board {
    left: 13%;
  }
}

@media screen and (max-width : 960px ) {
  .board {
    left: 5%;
  }
}

@media screen and (max-width : 600px ) {
  .board {
    left: 15%;
  }
  tr {
    height: $screen-sm;
  }
  
  td {
    height: $screen-sm;
    width: $screen-sm;
  }
}

@media screen and (max-width : 500px ) {
  .board {
    left: 5%;
  }
}
