@import '../../variables';

.board {
  background-color: $background;
  // position: absolute;
  // left: 5%;
  // top: 10%;
}

tr {
  height: 70px;
}

td {
  height: 70px;
  width: 65px;
}

.animate {
  zoom: 125%;
}

@media screen and (max-height : 950px ) {
  table {
    background-color: $background;
    position: absolute;
    left: 5%;
    top: 18%;
    // transform: rotate(180deg);
  }
  
  tr {
    height: 55px;
  }
  
  td {
    height: 55px;
    width: 45px;
    // transform: rotate(180deg);
  }
}
