$primary: #be342d;
$background: #ede8e0;
$compliment: #815752;

$screen-xl: 55px;
$screen-sm: 45px;

$piece-svg-xl: 30px;
$piece-svg-sm: 25px;

$rect-width-xxl: 11%;
$rect-height-xxl: 8.5%;

$cell-width-xxl: 6.5%;
$cell-heigth-xxl: 3%;

$rect-width-sm: 9.5%;
$rect-height-sm: 7%;

$cell-width-sm: 12%;
$cell-heigth-sm: 6%;

$screen-xsm: 35px;
$piece-svg-xsm: 20px;

$rect-width-xsm: 9%;
$rect-height-xsm: 5.5%;

$cell-width-xsm: 14%;
$cell-heigth-xsm: 5%;
