$primary: #be342d;
$background: #ede8e0;
$compliment: #815752;


$screen-xl: 55px;
$screen-sm: 45px;

$rect-width-xxl: 6.3%;
$rect-height-xxl: 5.5%;

$xa-xxl: 8%;
$ya-xxl: 5.9%; 

$rect-width-sm: 49;
$rect-height-sm: 44;

$xa-sm: 124;
$ya-sm: 55; 

$svg-xl: 30px;
$svg-sm: 25px;
