$primary: #be342d;
$background: #ede8e0;
$compliment: #815752;

$screen-xl: 55px;
$screen-sm: 45px;

$rect-width-xxl: 9.5%;
$rect-height-xxl: 8.2%;

$cell-width-xxl: 13%;
$cell-heigth-xxl: 8%;

$rect-width-sm: 6.2%;
$rect-height-sm: 6%;

$cell-width-sm: 14.7%;
$cell-heigth-sm: 6%;

$svg-xl: 30px;
$svg-sm: 25px;
