@import "../../variables";

.avatar {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
}

.player {
  position: relative;
  width: 60px;
  left: 6%;
}

.profile-link {
  color: $compliment;
}

.profile-link:hover {
  color: rgba($color: $compliment, $alpha: 0.7);
}
